# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
db.sqlite3
*.log
*.pot
/media/
staticfiles/

# Virtual Environment
venv/
env/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
